<div class="container mt-4 card-profile">
  <div class="row py-4">
    <div class="col-md-3">
      <% if @order.product.photo.attached? %>
          <%= cl_image_tag @order.product.photo.key, width: '100%' %>
        <% else %>
          <%= image_tag('https://images.unsplash.com/photo-1452195100486-9cc805987862?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') %>
        <% end %>
        </div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>PRODUCT</strong> <%= @order.product.name %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p>Estimated delivery in <strong>2 business days</strong></p>
    </div>
  </div>
</div>
