<div class="container mt-4 card-profile">
  <h2 class="text-left pt-3">Meu perfil</h2>

  <p class="text-left pt-2">Nome: <%= current_user.first_name %> <%= current_user.last_name %> <br>
  User: <%= current_user.username %></p>

  <% if current_user.role == true %>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Quantidade</th>
        <th>Editar</th>
        <th>Excluir</th>

      </tr>
    </thead>
    <tbody>
      <% unless @products.nil? %>
        <% @products.each do |product| %>
          <tr>
          <td><%= product.name %></td>
          <td>R<%= number_to_currency(product.price) %></td>
          <td><%= product.category.name %></td>
          <td><%= product.quantity %> un.</td>
          <td><%= link_to image_tag('https://image.flaticon.com/icons/svg/126/126483.svg', style:"width: 20px;"), edit_product_path(product) %></td>
          <td><%= link_to image_tag('https://image.flaticon.com/icons/svg/126/126468.svg', style:"width: 20px;"), product_path(product), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>
  <p class="pb-2">
    <% if current_user.role %>
    <%= link_to 'Adicionar produto', new_product_path, class: "btn btn-outline-info"%>
  <% end %>
  </p>
  <% end %>
</div>

