<h1>Perfil do usuário</h1>

<%= current_user.first_name %>, <%= current_user.last_name %>,
<%= current_user.email %>, <%= current_user.username %>


<% if current_user.role %>
<%= link_to 'Adicionar produto', new_product_path %>
<% end %>

