<div class="container mt-5 bg-white">
  <h2 class="text-center pt-5">Perfil do usuário</h2>

  <p class="text-center pt-5">Nome: <%= current_user.first_name %> <%= current_user.last_name %> <br>
  User: <%= current_user.username %></p>

  <table class='table mt-5'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to image_tag('https://image.flaticon.com/icons/svg/126/126483.svg', style:"width: 20px;"), edit_product_path(product) %></td>
        <td><%= link_to image_tag('https://image.flaticon.com/icons/svg/126/126468.svg', style:"width: 20px;"), product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
  <p class="pb-2">
    <% if current_user.role %>
    <%= link_to 'Adicionar produto', new_product_path, class: "btn btn-outline-secondary"%>
  <% end %>
  </p>
</div>

