<div class="container mt-4 card-profile">
  <h1 class="pt-2"><%= @user.brand %></h1>

  Nome completo: <%= @user.first_name %> <%= @user.last_name %>
  <br>
  E-mail: <%= @user.email %>
  <br>
  Endereço: <%= @user.address %>
  <br>

  <table class='table mt-3'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Comprar</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to 'Compre', product_path(product) %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>

