<div class="container mt-5 bg-white">
  <p class="text-right">
    <%= link_to 'Adicionar o meu produto', new_product_path, class:"btn btn-outline-info mt-4"%>
  </p>
  <h1 class="text-center">Produtos Mercado Local</h1>
  

  <div class="row ml-5">
    <% if @products.empty?%>
      <p><%= 'Nenhum produto cadastrado'%><p>
    <%else%>
      <% @products.each do |product|  %>
      <div class="col-md-12 col-lg-6">
        <div class="card-product my-4 mr-4">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag('https://images.unsplash.com/photo-1452195100486-9cc805987862?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
            <p><strong>R<%= number_to_currency(product.price) %></strong></p>
            <p><strong><%= product.quantity %> un.</strong></p>
            <% unless user_signed_in? && product.user_id == current_user.id %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end  %>
  </div>
</div>
