<h1>Produtos</h1>

<% if @products.empty?%>
    <p><%= 'Nenhum produto cadastrado'%><p>
<%else%>
    <% @products.each do |product|  %>
    <%= product.name %>, <%= product.price %>
    <%= link_to 'Adicionar ao carrinho', new_product_cart_path(product) %>
    <% end %>
<% end  %>

<%= link_to 'Criar um novo produto', new_product_path %>
